/* Estilos gerais */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

button {
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}

button:hover {
  background-color: #666;
}

/* Estilos de cabeçalho */

header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

h1 {
  font-size: 36px;
  margin-right: auto;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  font-size: 18px;
}

.item-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.item-list h2 {
  margin-bottom: 20px;
}

.item-list ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.item-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.item-list ul li button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.item-list ul li button:hover {
  background-color: #555;
}

.item-list form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.item-list form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.item-list form button:hover {
  background-color: #555;
}

.item-list form .cancel-btn {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.item-list form .cancel-btn:hover {
  background-color: #aaa;
}

/* Estilos de banner */

#banner {
  background-image: url(pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

#banner h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

#banner p {
  font-size: 24px;
  margin-bottom: 40px;
}

#banner button {
  font-size: 18px;
  margin-top: 40px;
}

/* Estilos de menu */

#menu {
  background-color: #f5f5f5;
  padding: 80px 0;
}

#menu h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

#menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#menu li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: calc(33.33333% - 40px);
}

#menu h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#menu p {
  font-size: 16px;
  margin-bottom: 20px;
}

#menu span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

/* Estilos de seção "Sobre Nós" */

#about {
  background-color: #fff;
  padding: 80px 0;
}

#about h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

#about #about p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
  text-align: center;
}

#about img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Estilos de seção "Contato" */

#contact {
  background-color: #f5f5f5;
  padding: 80px 0;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

#contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

#contact textarea {
  height: 150px;
}

#contact button[type="submit"] {
  margin-left: auto;
}

/* Estilos de rodapé */

footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

footer p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 10px;
}

footer a {
  font-size: 24px;
}

/* Estilos de responsividade */

@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  nav {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }

  #banner h2 {
    font-size: 36px;
  }

  #banner p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #banner button {
    font-size: 16px;
    margin-top: 20px;
  }

  #menu li {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 480px) {
  #banner h2 {
    font-size: 24px;
  }

  #banner p {
    font-size: 16px;
  }

  #banner button {
    font-size: 14px;
    padding: 8px 16px;
  }

  #menu li {
    width: 100%;
  }
}

.container {
  display: inline-block;
  position: relative;
}

.container p {
  position: absolute;
  top: 145px;
  right: 20px;
  font-size: 40px;
  color: black;
}